
<h4 class="page-header">List </h4>
<%= render 'tag_cloud' %>	
<h3></h3>

<% cache "Article" , expires_in: 5.minutes do %>
<div id="articles" class="row">
<%= render partial: "article", locals: { articles:  articles   } %>
</div>
<%= paginate articles  %>
<% end %>