
<h4 class="page-header">Search</h4>

<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12">
 <%= render 'search' %>
 </div>
</div>

<h3></h3>

<div id="articles" class="row">
 <%= render partial: "article", locals: { articles:  searched_articles  }  if searched_articles %>
</div>

<%= paginate articles %>
