<main class="bs-docs-masthead carousel" role="main">
	<div class="container">
	<span class=" welcome-head">
	<p class="lead"><h1>Life 2.0</h1></p>
	<p class="lead">Connect with Other Overseas Koreans</p>
	</span>
</main>

