// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bwline {
 	background-color: #E4E6E5;
 	width: 100%;
 	height: 3px;
}

.carousel {
	height: 400px;
	background-image: asset_url('background.jpg');
	background-repeat: no-repeat;
	background-size: 100%;   
}

.thumbnail-list {
  width: 470px;
  height: 246px;
  background-color: #B6B6B6;
}

.bs-docs-masthead {
    padding-bottom: 100px;
    padding-top: 100px;
}

.bs-docs-masthead, .bs-docs-header {
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    color: #404040;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);    
}

.welcome-head{
	color: #FFFFFF;
}

