<% provide(:title, 'Welcome!') %>

  <% content_for :slidebar do %>
    <%= render partial: "shared/carousel" %>
    <div class="jumbotron">
      <div class="container">
      Intro !!!!
      <%= link_to 'Welcome Life 2.0', root_path %>
      </div>
    </div>

  <% end %>

